[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
user-agent = "*"
uvicorn = "*"
python-multipart = "*"
pytest = "*"
fastapi = "*"
requests = "*"
google-cloud-storage = "*"
google-generativeai = "*"
google-cloud-aiplatform = ">=1.38"
pandas = "*"
scikit-learn = "*"
langchain = "*"
langchain-community = "*"
langchain-google-vertexai = "*"
google-auth = "*"
python-dotenv = "*"
qdrant-client = "*"
numpy = "*"
streamlit = "*"
pydantic = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.11"