[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"  
urllib3 = "*"  
scrapy = "*" 
google-cloud-storage = "*"
dvc = "*"
dvc-gs = "*"


[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
